
@use './partials/mixins' as *;
@use './partials/variables' as *;
@import "~bootstrap/scss/bootstrap";

.blue-row{
    background-color: $DcColorBlue;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

header{
    @include flex(row,space-between);
    height: 90px;


    .container{
        max-width: 1000px;
    }
    
    .brand{
    
        img{
            height: 60px
        }
    }
        
    
    ul{
        height: 100%;
        li{
            @include flex();
            margin-right: 1.5rem;
            font-size: 0.65rem;
            font-weight: 600;
            height: 100%;
    
            &:hover{
                text-decoration: underline;
            }
            a{
                text-decoration: none;
                color: $DcNavColor;
            }
        }
        li:nth-child(2){
                color: $DcColorBlue;
            }
            .active{
                border-bottom: 4px solid $DcColorBlue ;
            }
    }

    .search-bar{
        border-bottom: 2px solid $DcColorBlue;
        width: 100%;
        font-size: 0.8rem;
        color: $DcNavColor;
        font-weight: 600;
    }
}

.jumbo{
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
}